{{- /* Description block - alert description text in code block */ -}}
{{- if .Description -}}
[
  {
    "type": "section",
    "text": {
      "type": "mrkdwn",
      "text": "```{{.Description | jsonEscape}}```"
    }
  }
]
{{- else -}}
[]
{{- end -}}
