name: renovate
on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'
jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: read          # Read repository code
      pull-requests: write    # Create and update pull requests
      issues: write          # Comment on issues and pull requests
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
      - name: Renovate
        uses: renovatebot/github-action@ea850436a5fe75c0925d583c7a02c60a5865461d # v43.0.20
        with:
          configurationFile: .github/renovate-global.json
          token: ${{ secrets.PAT }}
