name: ReleaseWorkflow

on:
  release:
    types: [ published, prereleased ]

permissions:
  contents: read
  packages: read

jobs:
  createSentryRelease:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Create a Sentry.io release
        uses: tclindner/sentry-releases-action@6aa8f28371f3b57460bbaefce469471b117b5620 # v1.3.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: kubecano
          SENTRY_PROJECT: cano-collector
        with:
          tagName: ${{ github.ref }}
          environment: production
          releaseNamePrefix: cano-collector-
